# Project 2: Predicting House Prices - An Analysis of Housing in Ames, Iowa

## Problem Statement

## Executive Summary

In [1]:
import numpy as np
import pandas as pd
import patsy

from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.model_selection import cross_val_score, train_test_split, KFold
from sklearn.preprocessing import StandardScaler

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## Data Import and Shape

In [2]:
df_train = pd.read_csv("../datasets/train.csv")
df_train.head(3)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000

In [3]:
df_train.shape

(2051, 81)

In [4]:
df_test = pd.read_csv("../datasets/test.csv") # missing target vector "SalePrice"
df_test.head(3)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New

In [5]:
df_test.shape

(879, 80)

In [6]:
pd.read_csv("../datasets/sample_sub_reg.csv").head(3)
# to submit predicted prices in csv format with two cols ["Id", "SalePrice"]

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217
2   6  181479.1217

In [7]:
df_train.Id.isin(df_test.Id).value_counts() # no duplicate "Id" across df_train and df_test

False    2051
Name: Id, dtype: int64

## Negotiate Missing Data: Training Set

In [8]:
train_null = df_train.isnull().sum().sort_values(ascending=False)[:26]

# there are 26 features with missing values
train_null

Pool QC           2042
Misc Feature      1986
Alley             1911
Fence             1651
Fireplace Qu      1000
Lot Frontage       330
Garage Finish      114
Garage Cond        114
Garage Qual        114
Garage Yr Blt      114
Garage Type        113
Bsmt Exposure       58
BsmtFin Type 2      56
BsmtFin Type 1      55
Bsmt Cond           55
Bsmt Qual           55
Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Half Bath       2
Bsmt Full Bath       2
Garage Cars          1
Garage Area          1
Bsmt Unf SF          1
BsmtFin SF 2         1
Total Bsmt SF        1
BsmtFin SF 1         1
dtype: int64

In [9]:
test_null = df_test.isnull().sum().sort_values(ascending=False)[:19]

# 19 features with missing values
test_null

Pool QC           875
Misc Feature      838
Alley             821
Fence             707
Fireplace Qu      422
Lot Frontage      160
Garage Cond        45
Garage Qual        45
Garage Yr Blt      45
Garage Finish      45
Garage Type        44
Bsmt Exposure      25
BsmtFin Type 1     25
Bsmt Qual          25
BsmtFin Type 2     25
Bsmt Cond          25
Mas Vnr Area        1
Mas Vnr Type        1
Electrical          1
dtype: int64

In [10]:
# create sets out of features with missing values
train_null = set(train_null.index)
test_null = set(test_null.index)

In [11]:
# there are missing values for both df_train and df_test
# find intersection and differences between sets

print("Features with missing values in Training Set but not in Test Set are:\n{}."\
      .format(", ".join(feat for feat in train_null.difference(test_null))))
print()
print("Features with missing values in both Training Set and in Test Set are:\n{}."\
      .format(", ".join(feat for feat in train_null.intersection(test_null))))
print()
print("Features with missing values in Testing Set but not in Training Set are:\n{}."\
      .format(", ".join(feat for feat in test_null.difference(train_null))))

Features with missing values in Training Set but not in Test Set are:
BsmtFin SF 2, Bsmt Unf SF, Garage Area, Bsmt Full Bath, Total Bsmt SF, Garage Cars, BsmtFin SF 1, Bsmt Half Bath.

Features with missing values in both Training Set and in Test Set are:
Bsmt Qual, Garage Finish, Bsmt Cond, Lot Frontage, Mas Vnr Type, Garage Type, Fence, BsmtFin Type 2, Garage Yr Blt, Garage Cond, Alley, Bsmt Exposure, BsmtFin Type 1, Fireplace Qu, Pool QC, Mas Vnr Area, Misc Feature, Garage Qual.

Features with missing values in Testing Set but not in Training Set are:
Electrical.

In [12]:
# there are many shared features with missing values
# which suggest either a systematic error in data collection/entry
# or a systematic difference in data of interest between respondents and non-respondents

In [13]:
# begin checking df_train null values in order from most to least

In [14]:
sel_cols = ["Pool Area", "Pool QC"]
df_train[sel_cols].head(3)

   Pool Area Pool QC
0          0     NaN
1          0     NaN
2          0     NaN

In [15]:
def check_pool(df):
    have_pool = []
    for i, row in df.iterrows():
        if row["Pool Area"]!=0 and row["Pool QC"]==None: # filter out rows with Pools and yet missing "Pool QC" data
            print(row[["Pool Area", "Pool QC"]]) # print missing values that cannot be deduced
        if row["Pool Area"]!=0 and row["Pool QC"]!=None: # filter out rows with Pools and no missing "Pool QC" data
            have_pool.append(i) # append all row index with complete pool data
    print(f"There are {len(df)-len(have_pool)} rows with incomplete pool data out of a dataset of size {len(df)}.")
    print(f"There are {len(have_pool)} rows with complete pool data out of a dataset of size {len(df)}.")

In [16]:
check_pool(df_train)

There are 2042 rows with incomplete pool data out of a dataset of size 2051.
There are 9 rows with complete pool data out of a dataset of size 2051.

In [17]:
# 2042 incomplete pool data matches the null values found in "Pool QC"
# since there are no missing values in "Pool Area"
# and all missing values in "Pool QC" registers a 0 in "Pool Area"
# we can deduce that these are properties with no pools and therefore no need to check for "Pool QC"
# following the data dict, the correct value to be imputed should be a str("NA")

In [18]:
df_train.loc[:, "Pool QC"].fillna("NA", inplace=True) # replace all NaN with str("NA")

In [19]:
df_train["Pool QC"].value_counts() # verify change has been made

NA    2042
Gd       4
TA       2
Fa       2
Ex       1
Name: Pool QC, dtype: int64

In [20]:
# check "Misc Feature" missing values against "Misc Val"

In [21]:
df_train["Misc Feature"].value_counts()

Shed    56
Gar2     4
Othr     3
TenC     1
Elev     1
Name: Misc Feature, dtype: int64

In [22]:
df_train["Misc Val"].describe() # there are no missing values in "Misc Val"

count     2051.000000
mean        51.574354
std        573.393985
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      17000.000000
Name: Misc Val, dtype: float64

In [23]:
def check_misc(df):
    have_misc = []
    for i, row in df.iterrows():
        if row["Misc Val"]!=0 and row["Misc Feature"]==None: # filter out rows with Misc Val and missing "Misc Feature" data
            print(row[["Misc Val", "Misc Feature"]]) # print missing values that cannot be deduced
        if row["Misc Val"]!=0 and row["Misc Feature"]!=None: # filter out rows with Misc Val and "Misc Feature" data
            have_misc.append(i) # append all row index with complete Misc data
    print(f"There are {len(df)-len(have_misc)} rows with incomplete pool data out of a dataset of size {len(df)}.")
    print(f"There are {len(have_misc)} rows with complete pool data out of a dataset of size {len(df)}.")

In [24]:
check_misc(df_train)

There are 1986 rows with incomplete pool data out of a dataset of size 2051.
There are 65 rows with complete pool data out of a dataset of size 2051.

In [25]:
# 1986 incomplete misc data matches the null values found in "Misc Feature"
# since there are no missing values in "Misc Val"
# and all missing values in "Misc Feature" registers a 0 in "Misc Val"
# we can deduce that these are properties with no "Misc Feature"
# following the data dict, the correct value to be imputed should be a str("NA")

In [26]:
df_train.loc[:, "Misc Feature"].fillna("NA", inplace=True) # replace all NaN with str("NA")

In [27]:
df_train["Misc Feature"].value_counts() # verify change has been made

NA      1986
Shed      56
Gar2       4
Othr       3
TenC       1
Elev       1
Name: Misc Feature, dtype: int64

In [28]:
# check "Alley" against "Lot Config"

In [29]:
df_train["Alley"].value_counts()
# missing "NA" for no alley access
# 1911 missing values
# 140 recorded values

Grvl    85
Pave    55
Name: Alley, dtype: int64

In [30]:
df_train["Lot Config"].value_counts() # no missing values

# https://www.thetruthaboutrealty.com/real-estate-lot-types/
# above website describe the common lot configurations

# from source above, "Lot Config" values are interpreted as follow:
### the "Inside" lot is surrounded on all 3 sides by houses and single frontage to street - no alley possible
### the "Corner" lot is surrounded on 2 adjacent sides by houses and double frontage to street corner - no alley possible
### the "CulDSac" lot sits at a dead-end street, with houses on either sides, possible view/access from the back (alley?)
### the "FR2" lot has 2 frontages yet is not a "Corner" lot
###### possible frontages on opp sides, or frontages on adj sides but not facing a street corner
###### not clear if there is an alley
### the "FR3" lot has 3 frontages, most likely of all the lots to have an alley attached

Inside     1503
Corner      348
CulDSac     131
FR2          60
FR3           9
Name: Lot Config, dtype: int64

In [31]:
mask = df_train["Alley"].isnull() # filter for no alleys
df_train[mask]["Lot Config"].value_counts() # make-up of "Lot Config" for no alleys

Inside     1377
Corner      334
CulDSac     131
FR2          60
FR3           9
Name: Lot Config, dtype: int64

In [32]:
df_train.groupby("Lot Config")["Alley"].value_counts() # make-up of type of alleys by "Lot Config"

Lot Config  Alley
Corner      Grvl      9
            Pave      5
Inside      Grvl     76
            Pave     50
Name: Alley, dtype: int64

In [33]:
# there is just not enough data and a clear pattern to deduce missing values
# we would be reaching to deduce type of "Alley" (if any) for 1911 incomplete rows based on 140 rows of recorded data
# especially when there is no observed "NA" data for no alleys

# however, there are too many rows of data to drop
# we can proceed by ignoring the item non-response and using all other data
# in this case, "Lot Config" can be a good stand-in variable to account for the property surrounding condition

ignore_item_nr = ["Alley"] # keep a record of columns to disregard
ignore_item_nr

['Alley']

In [34]:
# investigate missing values in "Fence"

In [35]:
df_train["Fence"].value_counts() # "Fence" measures ordinal level of privacy

MnPrv    227
GdPrv     83
GdWo      80
MnWw      10
Name: Fence, dtype: int64

In [36]:
# similar to "Alley", there is no observed "NA" data for no fences installed
# unlike "Alley", it is highly unlikely that there are no fences between properties

# for the majority of properties with neighbouring adjacent lots
# it would require both (or all three) neighbours to decide on not having a fence between their properties
# as such it is improbable that there are no fences between property
# and we can choose to ignore the absence of "NA" value in "Fence"

# referring to the data dict, all other values are present
# since all other values are present, we can predict for "Fence" using Stochastic Regression Imputation

In [37]:
# to predict "Fence", we can convert "Fence" to a dummy variable
# since "Fence" is ordinal, we shall create a new col "Fence_Dummy" and rank the values
# create dict for ranking:
dict_fence = {"GdPrv": 4,
             "MnPrv": 3,
             "GdWo": 2,
             "MnWw": 1,
             "NA": 0} # ranking based off data dict

In [38]:
df_train["Fence_Dummy"] = df_train["Fence"].map(dict_fence)

In [39]:
df_train["Fence_Dummy"].value_counts() # verify that dummies have been mapped

3.0    227
4.0     83
2.0     80
1.0     10
Name: Fence_Dummy, dtype: int64

In [40]:
# to help decide on features that can help predict "Fence"
mask = df_train["Fence_Dummy"].isnull() # find all null values in "Fence_Dummy"
df_train_fence = df_train[~mask] # filter out all null values in "Fence_Dummy" and reassign as training set
df_train_misfence = df_train[mask] # filter for all null values in "Fence_Dummy" and reassign as test set

In [41]:
df_train_fence.shape

(400, 82)

In [42]:
df_train_misfence.shape

(1651, 82)

In [43]:
df_train_fence = df_train_fence._get_numeric_data().dropna() # drop all rows with NaN
df_train_fence.shape

(308, 40)

In [44]:
# drop "Fence_Dummy" since they are all null values
df_train_misfence = df_train_misfence._get_numeric_data().drop(["Fence_Dummy"], axis=1)

In [45]:
df_train_misfence = df_train_misfence._get_numeric_data().dropna() # drop all rows with NaN
df_train_misfence.shape

(1288, 39)

In [46]:
abs(df_train_fence.corr()["Fence_Dummy"]).sort_values(ascending=False) # finding greatest corr

Fence_Dummy        1.000000
Garage Cars        0.193277
Full Bath          0.192641
Garage Area        0.192415
Overall Qual       0.177388
Gr Liv Area        0.175632
TotRms AbvGrd      0.172656
PID                0.169453
SalePrice          0.167432
Pool Area          0.167369
2nd Flr SF         0.144306
Wood Deck SF       0.135889
3Ssn Porch         0.134018
Year Remod/Add     0.132882
Fireplaces         0.123933
MS SubClass        0.110724
Garage Yr Blt      0.108681
Bedroom AbvGr      0.108193
Bsmt Unf SF        0.099701
Half Bath          0.075227
Bsmt Half Bath     0.074941
BsmtFin SF 1       0.072179
1st Flr SF         0.068305
Open Porch SF      0.067520
Lot Area           0.067288
Total Bsmt SF      0.038683
Kitchen AbvGr      0.038479
Low Qual Fin SF    0.037968
Yr Sold            0.036170
Enclosed Porch     0.035848
Mo Sold            0.034746
BsmtFin SF 2       0.034735
Year Built         0.027392
Misc Val           0.023572
Lot Frontage       0.018991
Bsmt Full Bath     0.017884
Mas Vnr Area       0.015677
Id                 0.014971
Overall Cond       0.011974
Screen Porch       0.001252
Name: Fence_Dummy, dtype: float64

In [47]:
# no stand-out features with especially high correlation
# since there are likely many variables that do not predict for "Fence" well, we shall predict with a lasso algo

In [48]:
features = [feat for feat in df_train_fence._get_numeric_data().columns if feat != "Fence_Dummy"] # exclude target
X_fence = df_train_fence[features] # create features matrix
y_fence = df_train_fence["Fence_Dummy"] # create target vector to predict
X_misfence = df_train_misfence[features]

In [49]:
# just for predictive purposes, no train-test split
# any variance in the regression model can help contribute also to the noise to prevent imputation that is too deterministic

In [50]:
#scale
ss_fence = StandardScaler()

# fit
ss_fence.fit(X_fence) # only fit once, ensure same scaler is used

# transform
X_fence_ss = ss_fence.transform(X_fence)
X_misfence_ss = ss_fence.transform(X_misfence)

In [51]:
lasso = LassoCV(n_alphas=200, random_state=42, cv=5)

In [52]:
lasso.fit(X_fence_ss, y_fence)

LassoCV(cv=5, n_alphas=200, random_state=42)

In [53]:
lasso.score(X_fence_ss, y_fence) # model is performing poorly

0.16301407087353248

In [54]:
predictions = lasso.predict(X_misfence_ss) # predict "Fence_Dummy"

In [55]:
pd.Series(predictions).describe()

count    1288.000000
mean        3.110074
std         0.261597
min         1.291073
25%         2.935146
50%         3.119371
75%         3.285814
max         3.892327
dtype: float64

In [56]:
# let's add up to 1 std worth of noise
predictions = pd.Series(predictions).map(lambda x: x+np.random.normal(loc=0, scale=np.std(predictions), size=1))

In [57]:
pred_dummy = []
for p in predictions:
    pred_dummy.append(round(p[0], 0)) # round predictions to dummy variables

In [58]:
print(len(pred_dummy))
print(len(X_misfence)) # ensure same length

1288
1288

In [59]:
dict_fence_pred = {"Id": X_misfence["Id"], "Fence_Dummy": pred_dummy} # create dict of predictions matched to "Id"

In [60]:
df_fence_pred = pd.DataFrame(dict_fence_pred) # create df from dict
df_fence_pred["Fence_Dummy"].value_counts() # predicted data to be added

3.0    1060
4.0     182
2.0      46
Name: Fence_Dummy, dtype: int64

In [61]:
# there are no rank 5 for "Fence_Dummy"
# demote all rank 5 to rank 4
df_fence_pred["Fence_Dummy"] = df_fence_pred["Fence_Dummy"].map(lambda x: 4 if x>=5 else x)

In [62]:
df_fence_pred["Fence_Dummy"].value_counts() # check predicted data again

3.0    1060
4.0     182
2.0      46
Name: Fence_Dummy, dtype: int64

In [63]:
df_train["Fence_Dummy"].value_counts() # recall original dummies from "Fence"

3.0    227
4.0     83
2.0     80
1.0     10
Name: Fence_Dummy, dtype: int64

In [64]:
df_fence_pred.head(3)

    Id  Fence_Dummy
1  544          3.0
2  153          3.0
3  318          3.0

In [65]:
df_train = df_train.merge(df_fence_pred, how="left", on="Id")

In [66]:
df_train.head(3)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,Fence_Dummy_x,Fence_Dummy_y
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,NA,NaN,NA,0,3,2010,WD,130500,NaN,NaN
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,NA,NaN,NA,0,4,2009,WD,220000,NaN,3.0
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,NA,NaN,NA,0,1,2010,WD,109000,NaN,3.0

In [67]:
df_train["Fence_Dummy_x"].value_counts()

3.0    227
4.0     83
2.0     80
1.0     10
Name: Fence_Dummy_x, dtype: int64

In [68]:
df_train["Fence_Dummy_y"].value_counts()

3.0    1060
4.0     182
2.0      46
Name: Fence_Dummy_y, dtype: int64

In [69]:
df_train["Fence_Dummy"] = df_train["Fence_Dummy_x"].fillna(df_train["Fence_Dummy_y"])

In [70]:
df_train.shape

(2051, 84)

In [71]:
df_train["Fence_Dummy"].value_counts() # verify change has been made

3.0    1287
4.0     265
2.0     126
1.0      10
Name: Fence_Dummy, dtype: int64

In [72]:
# drop extra columns
df_train.drop(["Fence_Dummy_x", "Fence_Dummy_y"], axis=1, inplace=True)

In [73]:
df_train.head(1) # verify cols have been dropped

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,Fence_Dummy
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,NA,NaN,NA,0,3,2010,WD,130500,NaN

In [74]:
# check on remaining null values
df_train.isnull().sum().sort_values(ascending=False).head(26)

Alley             1911
Fence             1651
Fireplace Qu      1000
Fence_Dummy        363
Lot Frontage       330
Garage Cond        114
Garage Yr Blt      114
Garage Finish      114
Garage Qual        114
Garage Type        113
Bsmt Exposure       58
BsmtFin Type 2      56
Bsmt Cond           55
BsmtFin Type 1      55
Bsmt Qual           55
Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Full Bath       2
Bsmt Half Bath       2
BsmtFin SF 1         1
Total Bsmt SF        1
Bsmt Unf SF          1
BsmtFin SF 2         1
Garage Cars          1
Garage Area          1
Lot Area             0
dtype: int64

In [75]:
# "Fence_Dummy" has 363 null values after imputation vs "Fence" with 1651 null values
# going forward, we can ignore "Fence" data and simply make use of "Fence_Dummy"
ignore_item_nr.append("Fence")

In [76]:
# investigate missing values in "Fireplace Qu"

In [77]:
df_train["Fireplace Qu"].value_counts() # all "Fireplace Qu" ranks present except for "NA" that indicates no fireplaces

Gd    523
TA    407
Fa     59
Po     31
Ex     31
Name: Fireplace Qu, dtype: int64

In [78]:
df_train["Fireplace Qu"].isnull().sum() # 1000 missing values in "Fireplace Qu"

1000

In [79]:
df_train["Fireplaces"].value_counts() # breakdown of "Fireplaces" count

0    1000
1     898
2     146
3       6
4       1
Name: Fireplaces, dtype: int64

In [80]:
# there are no missing values in "Fireplaces"
# there are 1000 recorded observations of properties with 0 fireplaces
# we can therefore deduce that the 1000 missing values in "Fireplace Qu"
# are most likely without data because there is no fireplace to check quality of

In [81]:
# to replace all null values in "Fireplace Qu" with str("NA")
df_train["Fireplace Qu"].fillna("NA", inplace=True)

In [82]:
df_train["Fireplace Qu"].value_counts() # verify change has been made

NA    1000
Gd     523
TA     407
Fa      59
Po      31
Ex      31
Name: Fireplace Qu, dtype: int64

In [83]:
# check on remaining null values
df_train.isnull().sum().sort_values(ascending=False).head(26)

Alley             1911
Fence             1651
Fence_Dummy        363
Lot Frontage       330
Garage Cond        114
Garage Yr Blt      114
Garage Finish      114
Garage Qual        114
Garage Type        113
Bsmt Exposure       58
BsmtFin Type 2      56
BsmtFin Type 1      55
Bsmt Qual           55
Bsmt Cond           55
Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Half Bath       2
Bsmt Full Bath       2
BsmtFin SF 2         1
Total Bsmt SF        1
Bsmt Unf SF          1
BsmtFin SF 1         1
Garage Cars          1
Garage Area          1
MS Zoning            0
Foundation           0
dtype: int64

In [84]:
ignore_item_nr
# ignoring "Alley" and "Fence"
# the biggest holes in data have been either deduced or inferred

['Alley', 'Fence']

In [85]:
# we can begin building a predictive model
# as a start, we shall drop all columns with missing values (after ignoring "Alley" and "Fence")
# and build up our model from there

In [86]:
df_train.shape # final df shape

(2051, 82)

In [87]:
# reassign to new df after ignoring cols with big holes
df_train_ig = df_train.drop(ignore_item_nr, axis=1)
df_train_ig.shape # shape of new df

(2051, 80)

In [88]:
df_train_ig_drp = df_train_ig.dropna() # drop all rows with remaining missing values
df_train_ig_drp.shape # resultant df

(1556, 80)

## Negotiate Missing Data: Test Set

In [89]:
# prep df_test the same way we prepped df_train

In [90]:
check_pool(df_test)

There are 875 rows with incomplete pool data out of a dataset of size 879.
There are 4 rows with complete pool data out of a dataset of size 879.

In [91]:
df_test["Pool Area"].value_counts() # check for pool area of 0

0      875
555      1
512      1
444      1
144      1
Name: Pool Area, dtype: int64

In [92]:
# as with df_train, the number of missing "Pool QC" values correspond to those properties with a pool area of 0
# therefore, there are no pools to check quality of

In [93]:
df_test.loc[:, "Pool QC"].fillna("NA", inplace=True) # replace all NaN with str("NA")

In [94]:
df_test["Pool QC"].value_counts() # verify change has been made

NA    875
Ex      3
TA      1
Name: Pool QC, dtype: int64

In [95]:
check_misc(df_test)

There are 841 rows with incomplete pool data out of a dataset of size 879.
There are 38 rows with complete pool data out of a dataset of size 879.

In [96]:
df_test["Misc Val"].value_counts() # check for misc valuation of 0

0        841
400        6
500        5
450        4
700        3
650        2
600        2
2000       2
1500       2
420        1
15500      1
1200       1
350        1
1400       1
1000       1
480        1
490        1
560        1
620        1
750        1
1512       1
Name: Misc Val, dtype: int64

In [97]:
# as with df_train, the number of missing "Misc Feature" values correspond to those properties with a misc valuation of 0
# therefore, there are no misc features on property to provide a valuation of

In [98]:
df_test.loc[:, "Misc Feature"].fillna("NA", inplace=True) # replace all NaN with str("NA")

In [99]:
df_test["Misc Feature"].value_counts() # verify change has been made

NA      838
Shed     39
Gar2      1
Othr      1
Name: Misc Feature, dtype: int64

In [100]:
# recall dummies for "Fence" variable
dict_fence

{'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA': 0}

In [101]:
df_test["Fence"].value_counts() # breakdown of types of "Fence"

MnPrv    103
GdPrv     35
GdWo      32
MnWw       2
Name: Fence, dtype: int64

In [102]:
df_test["Fence"].isnull().sum()

707

In [103]:
len(df_test) # 707 missing "Fence" values out of dataset of size 879

879

In [104]:
df_test["Fence_Dummy"] = df_test["Fence"].map(dict_fence)

In [105]:
df_test["Fence_Dummy"].value_counts() # verify that dummies have been mapped

3.0    103
4.0     35
2.0     32
1.0      2
Name: Fence_Dummy, dtype: int64

In [106]:
mask = df_test["Fence_Dummy"].isnull() # find all null values in "Fence_Dummy"
df_test_fence = df_test[~mask] # filter out all null values in "Fence_Dummy" and reassign as training set
df_test_misfence = df_test[mask] # filter for all null values in "Fence_Dummy" and reassign as test set

In [107]:
df_test_fence.shape

(172, 81)

In [108]:
df_test_misfence.shape

(707, 81)

In [109]:
df_test_fence = df_test_fence._get_numeric_data().dropna() # drop all rows with NaN
df_test_fence.shape

(137, 39)

In [110]:
# drop "Fence_Dummy" since they are all null values
df_test_misfence = df_test_misfence._get_numeric_data().drop(["Fence_Dummy"], axis=1)

In [111]:
df_test_misfence = df_test_misfence._get_numeric_data().dropna() # drop all rows with NaN
df_test_misfence.shape

(541, 38)

In [112]:
features = [feat for feat in df_test_fence._get_numeric_data().columns if feat != "Fence_Dummy"] # exclude target
X_fence = df_test_fence[features] # create features matrix
y_fence = df_test_fence["Fence_Dummy"] # create target vector to predict
X_misfence = df_test_misfence[features]

In [113]:
# reuse same scaler obj
ss_fence

# transform
X_fence_ss = ss_fence.transform(X_fence)
X_misfence_ss = ss_fence.transform(X_misfence)

In [114]:
lasso = LassoCV(n_alphas=200, random_state=42, cv=5)

In [115]:
lasso.fit(X_fence_ss, y_fence)

LassoCV(cv=5, n_alphas=200, random_state=42)

In [116]:
lasso.score(X_fence_ss, y_fence) # model is performing poorly

0.1380265220415685

In [117]:
predictions = lasso.predict(X_misfence_ss) # predict "Fence_Dummy"

In [118]:
# let's add up to 1 std worth of noise
predictions = pd.Series(predictions).map(lambda x: x+np.random.normal(loc=0, scale=np.std(predictions), size=1))

In [119]:
pred_dummy = []
for p in predictions:
    pred_dummy.append(round(p[0], 0)) # round predictions to dummy variables

In [120]:
print(len(pred_dummy))
print(len(X_misfence)) # ensure same length

541
541

In [121]:
dict_fence_pred = {"Id": X_misfence["Id"], "Fence_Dummy": pred_dummy} # create dict of predictions matched to "Id"

In [122]:
df_fence_pred = pd.DataFrame(dict_fence_pred) # create df from dict
df_fence_pred["Fence_Dummy"].value_counts() # predicted data to be added

3.0    536
4.0      5
Name: Fence_Dummy, dtype: int64

In [123]:
# in case there are rank 5 which should not exist
df_fence_pred["Fence_Dummy"] = df_fence_pred["Fence_Dummy"].map(lambda x: 4 if x>=5 else x)

In [124]:
df_test = df_test.merge(df_fence_pred, how="left", on="Id") # merge both dfs

In [125]:
df_test.head(3) # verify that merge was successful

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Fence_Dummy_x,Fence_Dummy_y
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,NA,NaN,NA,0,4,2006,WD,NaN,3.0
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,NA,NaN,NA,0,8,2006,WD,NaN,NaN
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,NA,NaN,NA,0,9,2006,New,NaN,3.0

In [126]:
df_test["Fence_Dummy"] = df_test["Fence_Dummy_x"].fillna(df_test["Fence_Dummy_y"]) # create new col to merge col values

In [127]:
df_test["Fence_Dummy"].value_counts() # verify change has been made

3.0    639
4.0     40
2.0     32
1.0      2
Name: Fence_Dummy, dtype: int64

In [128]:
# drop extra columns
df_test.drop(["Fence_Dummy_x", "Fence_Dummy_y"], axis=1, inplace=True)

In [129]:
df_test.head(1) # verify cols have been dropped

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Fence_Dummy
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NA,NaN,NA,0,4,2006,WD,3.0

In [130]:
df_test["Fence_Dummy"].isnull().sum() # remaining missing values in "Fence_Dummy"

166

In [131]:
df_test["Fireplace Qu"].value_counts() # all "Fireplace Qu" ranks present except for "NA" that indicates no fireplaces

Gd    221
TA    193
Fa     16
Po     15
Ex     12
Name: Fireplace Qu, dtype: int64

In [132]:
df_test["Fireplace Qu"].isnull().sum() # 422 missing values in "Fireplace Qu"

422

In [133]:
df_test["Fireplaces"].value_counts() # breakdown of "Fireplaces" count

0    422
1    376
2     75
3      6
Name: Fireplaces, dtype: int64

In [134]:
# there are no missing values in "Fireplaces"
# there are 422 recorded observations of properties with 0 fireplaces
# we can therefore deduce that the 422 missing values in "Fireplace Qu"
# are most likely without data because there is no fireplace to check quality of

In [135]:
# to replace all null values in "Fireplace Qu" with str("NA")
df_test["Fireplace Qu"].fillna("NA", inplace=True)

In [136]:
df_test["Fireplace Qu"].value_counts() # verify change has been made

NA    422
Gd    221
TA    193
Fa     16
Po     15
Ex     12
Name: Fireplace Qu, dtype: int64

In [137]:
# recall ignore_item_nr list of cols to ignore
ignore_item_nr

['Alley', 'Fence']

In [138]:
df_test.shape # final df shape

(879, 81)

In [139]:
# reassign to new df after ignoring cols with big holes
df_test_ig = df_test.drop(ignore_item_nr, axis=1)
df_test_ig.shape # shape of new df

(879, 79)

In [140]:
df_test_ig_drp = df_test_ig.dropna() # drop all rows with remaining missing values
df_test_ig_drp.shape # resultant df

(662, 79)

## Build a Baseline Model: dummy everything

In [141]:
df_train_ig_drp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1556 entries, 1 to 2050
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               1556 non-null   int64
 1   PID              1556 non-null   int64
 2   MS SubClass      1556 non-null   int64
 3   MS Zoning        1556 non-null   object
 4   Lot Frontage     1556 non-null   float64
 5   Lot Area         1556 non-null   int64
 6   Street           1556 non-null   object
 7   Lot Shape        1556 non-null   object
 8   Land Contour     1556 non-null   object
 9   Utilities        1556 non-null   object
 10  Lot Config       1556 non-null   object
 11  Land Slope       1556 non-null   object
 12  Neighborhood     1556 non-null   object
 13  Condition 1      1556 non-null   object
 14  Condition 2      1556 non-null   object
 15  Bldg Type        1556 non-null   object
 16  House Style      1556 non-null   object
 17  Overall Qual     1556 non-null   int64
 18  Overall Cond     1556 non-null   int64
 19  Year Built       1556 non-null   int64
 20  Year Remod/Add   1556 non-null   int64
 21  Roof Style       1556 non-null   object
 22  Roof Matl        1556 non-null   object
 23  Exterior 1st     1556 non-null   object
 24  Exterior 2nd     1556 non-null   object
 25  Mas Vnr Type     1556 non-null   object
 26  Mas Vnr Area     1556 non-null   float64
 27  Exter Qual       1556 non-null   object
 28  Exter Cond       1556 non-null   object
 29  Foundation       1556 non-null   object
 30  Bsmt Qual        1556 non-null   object
 31  Bsmt Cond        1556 non-null   object
 32  Bsmt Exposure    1556 non-null   object
 33  BsmtFin Type 1   1556 non-null   object
 34  BsmtFin SF 1     1556 non-null   float64
 35  BsmtFin Type 2   1556 non-null   object
 36  BsmtFin SF 2     1556 non-null   float64
 37  Bsmt Unf SF      1556 non-null   float64
 38  Total Bsmt SF    1556 non-null   float64
 39  Heating          1556 non-null   object
 40  Heating QC       1556 non-null   object
 41  Central Air      1556 non-null   object
 42  Electrical       1556 non-null   object
 43  1st Flr SF       1556 non-null   int64
 44  2nd Flr SF       1556 non-null   int64
 45  Low Qual Fin SF  1556 non-null   int64
 46  Gr Liv Area      1556 non-null   int64
 47  Bsmt Full Bath   1556 non-null   float64
 48  Bsmt Half Bath   1556 non-null   float64
 49  Full Bath        1556 non-null   int64
 50  Half Bath        1556 non-null   int64
 51  Bedroom AbvGr    1556 non-null   int64
 52  Kitchen AbvGr    1556 non-null   int64
 53  Kitchen Qual     1556 non-null   object
 54  TotRms AbvGrd    1556 non-null   int64
 55  Functional       1556 non-null   object
 56  Fireplaces       1556 non-null   int64
 57  Fireplace Qu     1556 non-null   object
 58  Garage Type      1556 non-null   object
 59  Garage Yr Blt    1556 non-null   float64
 60  Garage Finish    1556 non-null   object
 61  Garage Cars      1556 non-null   float64
 62  Garage Area      1556 non-null   float64
 63  Garage Qual      1556 non-null   object
 64  Garage Cond      1556 non-null   object
 65  Paved Drive      1556 non-null   object
 66  Wood Deck SF     1556 non-null   int64
 67  Open Porch SF    1556 non-null   int64
 68  Enclosed Porch   1556 non-null   int64
 69  3Ssn Porch       1556 non-null   int64
 70  Screen Porch     1556 non-null   int64
 71  Pool Area        1556 non-null   int64
 72  Pool QC          1556 non-null   object
 73  Misc Feature     1556 non-null   object
 74  Misc Val         1556 non-null   int64
 75  Mo Sold          1556 non-null   int64
 76  Yr Sold          1556 non-null   int64
 77  Sale Type        1556 non-null   object
 78  SalePrice        1556 non-null   int64
 79  Fence_Dummy      1556 non-null   float64
dtypes: float64(12), int64(28), object(40)
memory usage: 984.7+ KB

In [142]:
# there are many different types of information
# worse still, most of this info consists of str objects even though they are ordinal according to the data dict
# we can dummy all variables that are ordinal but not numeric
# and use regression model to help us focus our attention on the more important variables

In [143]:
# recall two resultant training sets with different extents of ignoring missing data
print(df_train_ig.shape)
print(df_train_ig_drp.shape)

(2051, 80)
(1556, 80)

In [144]:
# use df_train_ig_drp that has no null values
num_features = set(df_train_ig_drp._get_numeric_data().columns) # set of all numeric features
all_features = set(df_train_ig_drp.columns) # set of all features
str_features = all_features.difference(num_features) # set of all non-numeric features

In [145]:
# create dummies of all non-numeric features
# reassign to new df
df_train_ig_drp_dumm = pd.get_dummies(df_train_ig_drp, columns=str_features, drop_first=True)

In [146]:
features = [feat for feat in df_train_ig_drp_dumm._get_numeric_data().columns if feat != "SalePrice"] # exclude target
X = df_train_ig_drp_dumm[features] # create features matrix
y = df_train_ig_drp_dumm["SalePrice"] # create target vector

In [147]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [148]:
# scale
ss = StandardScaler()

# fit
ss.fit(X_train)

# transform
X_train_ss = ss.transform(X_train)
X_test_ss = ss.transform(X_test)

In [149]:
# instantiate models
ridge = RidgeCV(alphas=np.logspace(0,5,200))
lasso = LassoCV(n_alphas=200)
enet = ElasticNetCV(l1_ratio=np.linspace(0.001,1,50), n_alphas=200)

In [150]:
# evaluate scores of all learning algos
%%time
ridge_scores = cross_val_score(ridge, X_train_ss, y_train, cv=5)
lasso_scores = cross_val_score(lasso, X_train_ss, y_train, cv=5)
enet_scores = cross_val_score(enet, X_train_ss, y_train, cv=5)
print("Ridge algorithm has a R^2 score of ", np.mean(ridge_scores))
print("Lasso algorithm has a R^2 score of ", np.mean(lasso_scores))
print("ElasticNet algorithm has a R^2 score of ", np.mean(enet_scores))

Ridge algorithm has a R^2 score of  0.8172303775028356
Lasso algorithm has a R^2 score of  0.725400025334664
ElasticNet algorithm has a R^2 score of  0.7391115888988717

In [151]:
# from above, ridge algo performed the best with an R^2 score of 0.817

In [152]:
ridge.fit(X_train_ss, y_train);

In [153]:
ridge.score(X_train_ss, y_train)
# notice ridge score is better than above CV
# this is because this score is now based on 100% of training data on 100% of training target

0.8955624414272607

In [154]:
ridge.score(X_test_ss, y_test)
# not a big drop when applying model to test set
# R^2 score remains fairly stable
# therefore model is generalising well on unseen data

0.8779416066369728

In [155]:
print("The CV score on the training set is ", round(ridge.score(X_test_ss, y_test), 3))

The CV score on the training set is  0.878

In [156]:
# since we are satisfied with the performance of the ridge regression model thus far
# we shall test it on the true test set (df_test)

In [157]:
# recall two resultant test sets with different extents of ignoring missing data
print(df_test_ig.shape)
print(df_test_ig_drp.shape)

(879, 79)
(662, 79)

In [162]:
# recall str_features
str_features

{'Bldg Type',
 'Bsmt Cond',
 'Bsmt Exposure',
 'Bsmt Qual',
 'BsmtFin Type 1',
 'BsmtFin Type 2',
 'Central Air',
 'Condition 1',
 'Condition 2',
 'Electrical',
 'Exter Cond',
 'Exter Qual',
 'Exterior 1st',
 'Exterior 2nd',
 'Fireplace Qu',
 'Foundation',
 'Functional',
 'Garage Cond',
 'Garage Finish',
 'Garage Qual',
 'Garage Type',
 'Heating',
 'Heating QC',
 'House Style',
 'Kitchen Qual',
 'Land Contour',
 'Land Slope',
 'Lot Config',
 'Lot Shape',
 'MS Zoning',
 'Mas Vnr Type',
 'Misc Feature',
 'Neighborhood',
 'Paved Drive',
 'Pool QC',
 'Roof Matl',
 'Roof Style',
 'Sale Type',
 'Street',
 'Utilities'}

In [163]:
# create dummies of all non-numeric features
# reassign to new df
df_test_ig_drp_dumm = pd.get_dummies(df_test_ig_drp, columns=str_features, drop_first=True)

In [165]:
df_test_ig_drp_dumm.columns

Index(['Id', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Mas Vnr Area',
       ...
       'Garage Type_CarPort', 'Garage Type_Detchd', 'Fireplace Qu_Fa',
       'Fireplace Qu_Gd', 'Fireplace Qu_NA', 'Fireplace Qu_Po',
       'Fireplace Qu_TA', 'Central Air_Y', 'Misc Feature_Othr',
       'Misc Feature_Shed'],
      dtype='object', length=220)

In [166]:
features = [feat for feat in df_test_ig_drp_dumm._get_numeric_data().columns] # get all numeric features
X_true_test = df_test_ig_drp_dumm[features] # create design matrix for true X predictors

In [167]:
# using previously fitted "ss" StandardScaler

# transform
X_true_test_ss = ss.transform(X_true_test)

# scale
ss = StandardScaler()

# fit
ss.fit(X_true_test)

# transform
X_train_ss = ss.transform(X_train)

ValueError: X has 220 features, but this StandardScaler is expecting 236 features as input.

In [169]:
X_train.shape # 236 features

(1167, 236)

In [168]:
X_true_test.shape # 220 features

(662, 220)